<form method="GET" >
    <input type="text" name="saludo" placeholder="¿A quien es el saludo?">
    <input type="text" name="personalizado" placeholder="¿Cómo saludo?">

    <button type="submit">Enviar</button>
</form>